.list {
  list-style: none;
  margin: 0;
  padding-left: 70px;
  text-align: left;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
body {
    font-family: 'PT Serif', serif;
}
.align {
    padding-left: 40px;
    text-align: left;
}
body {
    background-color: #f5f5f5;
}
a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: black;
}